# ignore temporary and virtual environment
.venv

# configuration files with user sensitive information
.env
google/config.json
google/client_secret.json
google/token*.json
system/quickdeck/quickdeck.json
linkedin/open_profiles/linkedin_open.json
smart_life/devices.json
smart_life/snapshot.json
smart_life/cloud.json
tinytuya.json

# application settings
text_expander_config.json

# logs
*.log

# local variables
notion/articles_sync/notion_articles_sync_last_time.txt

# cache
__pycache__

# workspaces
*.code-workspace

# temporary files
system/foldersearcher/folder_structure.txt
notion/build_newsletter.html
system/textexpander/text_expander_config.json
notion/articles_sync/notion_articles_sync_last_time.txt
tmp*
streamlit_demo/data/*

.claude/settings.local.json
